:root {
    --purple: #C8A2C8;
    --dark-purple: #301934;
    --grey: #D3D3D3;
    --ocean: #1ed2ff;
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--dark-purple);
    background-color: var(--purple);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Navigation Styles Begin */
header {
    background-image: url("../images/plants.jpg");
    background-size: cover;
    opacity: 0.5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header h1 {
    margin: 0;
}

/* the below class is not moving "HOME" to left side */
.align-left {
    float: left;
}

header a {
    text-decoration: none;
}

header nav {
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-purple);
    float: right;
    margin: 10px 0;
}

header nav ul li {
    list-style: none;
    display: inline;
}

header nav ul li a {
    padding: 15px 10px;
    display: inline;
}


/* Portfolio Section Begins */
.my-project {
    
}

.my-project h2{
    color: var(--grey);
}

.current-project img {
    width: 320px;
    height: 570px; 
}

.current-project a {

}

/* About Me Section Begins */
.about-me {
    font-size: 16px;
    align-items: center;
    color: var(--grey);
}

.about-me h2 {
    color: white;
}

.about-me img {
    width: 220px;
    height: 350px; 
}

.about-me h3 {
    font-weight: bold;
    font-size: 20px;
}

.about-me p {
    font-style: italic;
}

/* Contact Me Section Begins */
.contact-section {
    background: var(--grey);
    padding: 20px 25px;
}

.contact-section h3 p {
    
}

.contact-form {
    border: 2px solid var(--ocean);
    background-color: var(--ocean);
    opacity: 0.5;
}

.contact-form input {
    display: list-item;
    width: 40%;
    padding: 6px 15px;
    margin: 8px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.contact-form h3 {
    font-size: 19px;
    font-weight: bolder;
}

.contact-form p {

}
/* Footer Styles Begin */
footer {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 15px 10px;
}

footer span {
    color: red;
}

.bg-img {
    background-image: url("../images/plants.jpg");
    background-size: cover;
    opacity: 0.5;
    color: (var--ocean);
}